@import "tailwindcss";

body {
  font-family: "Poppins", sans-serif;
  background-color: snow;
  overflow-x: hidden;
}

.open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

@theme {
  --color-primary: #0c0c0c;
  --color-forground: #f7f7f7;
  --color-thin: rgba(0, 0, 0, 0.3);
  --color-line: rgba(0, 0, 0, 0.5);
  --color-line-light: rgba(0, 0, 0, 0.35);
  --color-line-super-light: rgba(0, 0, 0, 0.2);
  --color-secondary: #1d85ff;
  --color-tertiary: #33ff00;
  --text-md: 1.2rem;
  --text-xl: 1.4rem;
  --text-2xl: 1.6rem;
  --text-3xl: 1.8rem;
  --text-3-5xl: 1.9rem;
  --text-4xl: 2rem;
  --text-6xl: 3.6rem;
  --tracking-custom: 14%;
}

@utility container {
  max-width: 128rem;
  margin: 0 auto;
  padding: 0 1rem;
}

@utility box {
  max-width: 128rem;
  margin: 0 auto;
}

html {
  font-size: 62.5%;
}

button {
  cursor: pointer;
}

h1,
h2,
h3 {
  font-weight: 600;
  line-height: 114.99999999999999%;
}

p {
  line-height: 1.4;
}

.mySwiper {
  height: 50rem;
}

@media screen and (max-width: 1024px) {
  .mySwiper {
    height: 35rem;
  }
}

@media screen and (max-width: 768px) {
  .mySwiper {
    height: 20rem;
  }
}

.swiper-button-next,
.swiper-button-prev,
.swiper-button-next::after,
.swiper-button-prev::after {
  all: unset !important;
}
.swiper-button-prev {
  margin: 0 1rem !important;
}

.bg-custom {
  background: url(./assets/img/behind.jpg);
  background-size: cover;
}
.bg-custom-2 {
  background: url(./assets/img/black-bg.png);
  background-size: contain;
}